*.o
*.cpp
*.zip

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# The following are some simple examples:
# *.a       # Ignore all files ending with .a
# !lib.a    # Except for lib.a
# /TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
# build/    # 忽略 build/ 目录下的所有文件
# doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
